@model entitylayer.concrete.WriterMessage
@{
    ViewData["Title"] = "AdminMessageDetails";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample">
                     @Html.HiddenFor(x => x.WriterMessageID)
                    <div class="form-group">
                        <label>Gönderen</label>
                        @Html.TextBoxFor(x => x.SenderName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Gönderen E-Mail</label>
                        @Html.TextBoxFor(x => x.Sender, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Alan</label>
                        @Html.TextBoxFor(x => x.ReceiverName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Alan E-Mail</label>
                        @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Tarih</label>
                        @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
                    </div>
                     <div class="form-group">
                        <label>Konu</label>
                        @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>İçerik</label>
                        @Html.TextAreaFor(x => x.Content,6,3, new { @class = "form-control" })
                    </div>
                    <button type="button" class="btn btn-light" onclick="history.back()">Geri</button>
                </form>
            </div>
        </div>
    </div>